// Colours
$grey: #333333;
$white: #ffffff;

// Navigation colours
$nav-background: $grey;
$nav-text-colour: $white;

// clock variables
$clock-text-colour: white;
$clock-bg-colour: #B5D0E2;
$clock-border-colour: #2099E8;
